body {
  margin: 0;
  padding: 0;
  /* font-family: Helvetica, Arial, Sans-Serif, sans-serif; */
  background: aliceblue;
}

.title {
  padding: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.selected-image, .select-video {
  height: 500px;
  width:500px;
  margin:auto;
}

.selected-image img, .select-video video {
  width: 100%;
  height: 450px;
}

/* .image-thumbnail, .video-thumbnail {
  display: flex;
  justify-content: space-around;
  overflow: auto;
  overflow-y: hidden;
}

.image-thumbnail img, .video-thumbnail video {
  width: 70px;
  height: 70px;
  padding: 1px;
  border: 1px solid grey;
} */

.centre {
  margin: auto;
  width: 50%;
  max-width: 400px;
  min-width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.loader {
  font-size: 100px;
}

div.searchButton {
 /*  padding-top: 20px;
  padding-left: 220px; */
 /*  margin: auto; */
 text-align: center;
 /*  width: 50%; */
}

.heading {
/*   padding-top: 20px;
  padding-left: 250px;
  font-family: cursive;
  margin: auto;
  width: 50%;
  height: 50%; */
  font-size: 2.6rem;
    font-family: 'Pacifico';
    text-align: center;
    padding: 10px 20px;
    color: #424242;
    /* box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1); */
    /* position: sticky; */
   /*  top: 0; */
   /*  background: #fff; */
    /* z-index: 10; */
}

.navbar-nav > li{
  padding-left:80px;
  padding-right:80px;
}

.img-style {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* .fixNav {
  position: sticky;
  top:0;
} */


/* wts */

.content {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 25px;
  grid-gap: 25px;
  grid-auto-flow: dense;
  align-items: stretch;
  width: 100%;
}

.videogrid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
  padding:25px;
  grid-gap: 25px;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  border-radius: 5px;
}

.item-1 {
  grid-row: span 1;
}

.item-2 {
  grid-row: span 2;
}

.item-3 {
  grid-row: span 3;
}

.item-4 {
  grid-row: span 4;
}

.item-5 {
  grid-row: span 5;
}

.item {
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  border-radius: 2px;
}

.error {
  background: lightsalmon;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid tomato;
}